@import "../../../app/src/app/globals.css";


@layer base {
  #tidb-ai-widget {
    @apply bg-background text-foreground;
  }
}

#tidb-ai-widget-trigger {
  z-index: 9999;
}

#tidb-ai-widget {
  font-size: 16px;
  h1, h2, h3, h4, h5, h6, span, b, strong, em, i, code {
    color: inherit;
    background-color: inherit;
  }
}
