node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.idea

.env.local
.env.backend.local
.env.backend.generated
local-test.sh

# Internal output
.credentials
*.stdout
*.stderr
screenshots
.vercel
